.container {
  padding: 0.5rem 10% 0 10%;
  display: flex;
  flex-direction: column;
}

.searchContainer {
  max-width: 20rem;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
}

.word {
  padding-left: 0.5rem;
}
